# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Build
.build/
build/
DerivedData/
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved
Packages/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
*.swp
*.swo
*~
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Archives
*.zip
*.tar.gz
